body{
    margin: 0;
    font-family: "Bitcount Prop Single Ink", system-ui;
}

.site-header{
    background-color: #eee;
    padding: 30px;
}

.main-content{
    padding: 30px;
}

.footer-content{
    background-color: #555;
    color: #fff;
    padding: 30px;
}

.footer-link{
    color: #fff;
}